table{
    border:1px solid;
    background-color:lightgray;
    border-collapse: collapse;
}
th{
    background-color: darkgray;
}
th,td{
    border: 1px solid;
}
svg {
    width: 800px;
    height: 400px;
}
svg text {
    font: 8px Verdana;
}
svg path {
    fill: none;
    stroke: #333333;
    width: 1px;
}